In [178]:
import pandas as pd
import numpy as np

In [204]:
s_qs = pd.read_csv('sample_questions.csv')

          Question Answer
1  best kflay song    NaN
nan

In [207]:
s_qs_wo = s_qs[s_qs['Answer'].isnull()]
q = s_qs_wo.sample(1)
q

          Question Answer
1  best kflay song    NaN

In [208]:
for i in q.index:
    print(q.loc[i, 'Question'])
    q.loc[i, ['Answer']] = input()

best kflay song
blood in the cut

In [209]:
q

          Question            Answer
1  best kflay song  blood in the cut

In [210]:
s_qs.update(q)

In [211]:
s_qs

                                 Question            Answer
0            what did oliver tree die for         our shins
1                         best kflay song  blood in the cut
2  which is greater, a cutie or cutie pie         cutie pie

In [212]:
s_qs.to_csv('sample_questions.csv', index=False)