In [115]:
import pandas as pd
import numpy as np

In [160]:
s_qs = pd.read_csv('sample_questions.csv')
s_qs

                                 Question  Answer
0            what did oliver tree die for     NaN
1                         best kflay song     NaN
2  which is greater, a cutie or cutie pie     NaN

In [165]:
q = s_qs.sample(2)
print(q.index)
q

Int64Index([2, 0], dtype='int64')

                                 Question  Answer
2  which is greater, a cutie or cutie pie     NaN
0            what did oliver tree die for     NaN

In [170]:
for i in q.index:
    print(q.loc[i, 'Question'])
    # input
    q.loc[i, ['Answer'] = input()

which is greater, a cutie or cutie pie
what did oliver tree die for

nan

In [133]:
s_qs.update(q)

In [134]:
s_qs

                                 Question     Answer
0            what did oliver tree die for  our shins
1                         best kflay song        NaN
2  which is greater, a cutie or cutie pie        NaN

In [132]:
new

                                 Question  Answer
0            what did oliver tree die for     NaN
1                         best kflay song     NaN
2  which is greater, a cutie or cutie pie     NaN

In [44]:
new.index.drop()
new.to_csv('sample_questions.csv')

TypeError: drop() missing 1 required positional argument: 'labels'